name: Ikomia HUB CI

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - labeled
  schedule:
    - cron: "0 * * * 1"  # Every Monday at 00:00
  workflow_dispatch:
      
permissions:
  contents: read

env:
  SCW_ACCESS_KEY: ${{ secrets.IKOMIA_HUB_CI_SCW_ACCESS_KEY }}
  SCW_SECRET_KEY: ${{ secrets.IKOMIA_HUB_CI_SCW_SECRET_KEY }}
  SCW_DEFAULT_ORGANIZATION_ID: ${{ secrets.IKOMIA_HUB_CI_SCW_DEFAULT_ORGANIZATION_ID }}
  SCW_DEFAULT_PROJECT_ID: ${{ secrets.IKOMIA_HUB_CI_SCW_DEFAULT_PROJECT_ID }}
  UV_INDEX_URL: ${{ secrets.IKOMIA_HUB_CI_INDEX_URL }}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Run Ikomia HUB CI
        run: uvx "ikomia-hub-ci[scaleway]" scaleway test
        env:
          IKOMIA_HUB_CI_URL: ${{ github.event.pull_request.head.repo.clone_url || github.repositoryUrl }}
          IKOMIA_HUB_CI_COMMIT: ${{ github.event.pull_request.head.sha || github.sha }}
          IKOMIA_HUB_CI_DISCORD_WEBHOOK: ${{ secrets.IKOMIA_HUB_CI_DISCORD_WEBHOOK }}
